# sqlite　文件的地址
NGA_DATA_DIR=./data/
GIN_MODE=release
# 可观测性相关
# OTEL_RESOURCE_ATTRIBUTES="service.namespace=nga_grep,deployment.environment=dev"
# OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-prod-us-west-0.grafana.net/otlp"
# OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
# OTEL_EXPORTER_OTLP_HEADERS=